* {
    margin: 0%;
}

#about_us {
    font-family: 'Poppins';
    background-color: #0E0E0E;
    color: #C6B394;
}

#about_us_wide {
    display: block;
    background-image: url('images/Vector2.png');
    background-repeat: no-repeat;
    background-size: 43% 89%;
    background-position: 0% 7vw;
}

#about-heading {
    font-size: 2vw;
    padding: 7vw 12vw 5vw 12vw;
    width: auto;
    height: fit-content;
    background-image: url('images/Vector3.png');
    background-repeat: no-repeat;
    background-position: 99%;
    background-size: contain;
}

#about-main-heading {
    border-left: 0.8vw solid #711011; 
    padding-left: 2.8%; 
    margin-bottom: 5%;
}

#about-details {
    text-align: center; 
    font-size: 1.5vw;
}

#images-inline {
    display: flex;
    flex-flow: row;
    position: relative;
    padding-left: 8vw;
    padding-right: 4wv;
}

#about-us-mobile {
    display: none;
}

@media (max-width: 760px) {

    #about-heading {
        font-size: 2.7vw;
    }

    #about_us_wide {
        display: none;
    }

    #about-us-mobile {
        display: block;
        background-image: url('images/Vector3.png');
        background-repeat: no-repeat;
        background-size: 20%;
        background-position: 99% 6%;
    }

    #about-heading {
        background-image: none;
        background-repeat: no-repeat;
        background-position: 90% 130%;
    }
}